@import "functions";
@mixin chat_theme($theme) {
    .loader {
        $color: get_color_from_theme(primary, $theme);
        border-top: 1.1em solid $color;
        border-right: 1.1em solid $color;
        border-bottom: 1.1em solid $color;
    }
}
