<div class="container w-75">
  <div class="card p-4 shadow">
    <div class="card-header bg-white text-center">
      <h3 class="text-uppercase">Image uploader</h3>
    </div>
    <div class="card-content py-4">
      <div class="row">
        <div class="col-lg-6 col-12">
          <input multiple accept="image/*" type="file" id="upload-input" (change)="uploadPicture($event.target.files)"
            hidden>
          <label (dragover)="dragover($event)" for="upload-input" class="drag-zone rounded d-flex flex-column align-items-center justify-content-center">
            <i class="material-icons fs-3">cloud_upload</i>
            <h5>Drag to upload</h5>
          </label>
        </div>
        <div class="col-lg-6 col-12">
          <div class="overflow-container">
            <ng-container *ngFor="let img of images">
              <section class="card card-body mb-3">
                <div class="d-flex">
                  <div class="mr-3">
                    <i class="material-icons fs-2 text-secondary">collections</i>
                  </div>
                  <div class="flex-fill">
                    <div class="d-flex">
                      <p class="font-weight-bold mr-3">{{ img.name }}</p>
                      <span>{{ img.size }} kb</span>
                    </div>
                    <div class="progress" style="height: 0.25rem;">
                      <div class="progress-bar" [ngStyle]="{'width.%': (img.progress | async)}"></div>
                    </div>
                  </div>
                </div>
              </section>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>