@import 'mixins';
:host {
  ngx-form-factory {
    @include media-breakpoint-down(md) {
      background-color: #fff;
      ::ng-deep {
        mat-card {
          border-radius: 0 !important;
          @include center_absolute();
          box-shadow: none !important;
          width: 100%;
        }
      }
    }
  }
}
