@import "functions";
@mixin navbar_collapse($theme) {
  app-navbar-collapse {
    app-navbar-item {
      button {
        &.active {
          background-color: get_color_from_theme(primary, $theme) !important;
        }
      }
    }
  }
}
