@import "variables";
@import "mixins";
@import "~@angular/material/theming";
$transition-timing: cubic-bezier(0.2, 0, 0, 1);
$transition-duration: 0.22s;

@mixin drawer {
  > [sidebar-drawer] {
    @content;
  }
}
@mixin container {
  > [sidebar-container] {
    @content;
  }
}
:host {
  --width: 100%;
  position: relative;
  display: flex;
  height: 100%;
  ::ng-deep {
    @include drawer() {
      background-color: #fff;
      overflow-y: auto;
      overflow-x: hidden;
      height: 100%;
      transform: translateX(0%);
      width: var(--width);
    }
    @include container() {
      width: calc(100% - var(--width));
      overflow: auto;
      @include direction(ltr) {
        margin-left: auto;
      }
      @include direction(rtl) {
        margin-right: auto;
      }
    }
  }
  &.right {
    flex-direction: row-reverse;
    ::ng-deep {
      @include container() {
        @include direction(ltr) {
          margin-right: auto;
        }
        @include direction(rtl) {
          margin-left: auto;
        }
      }
    }
  }
  .resizer {
    position: absolute;
    cursor: ew-resize;
    display: block;
    height: 100%;
    width: 3px;
    background-color: transparent;
    z-index: 0;
    &:hover {
      background-color: #c8c8c8;
    }
  }
  &.resizing {
    @include backdrop(absolute, 999, #f1f2f557);
    .resizer {
      z-index: 1000;
      width: 5px;
    }
  }
  @include media-breakpoint-down(md) {
    ::ng-deep {
      > div {
        @include drawer() {
          z-index: 100;
          transform: translateX(-100%);
        }
        @include container() {
          width: 100% !important;
        }
      }
    }
    --width: 0px !important;
    &.opened {
      ::ng-deep {
        @include drawer() {
          transition: transform 0.2s;
          will-change: transform;
          transform: translateX(0%);
          position: fixed;
          width: 80%;
          z-index: 999;
          box-shadow: 0 40px 2rem rgba(0, 0, 0, 0.175);
        }
      }
    }
  }
}
