@import 'functions';
@import 'mixins';
@import 'variables';

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f1f2f5;
}

.backdrop {
  @include backdrop;
}

.full-height {
  height: 100vh;
}
.text-underline {
  text-decoration: underline;
}
.text-nounderline {
  text-decoration: none;
}
.overflow-auto {
  overflow: auto;
}

.pointer {
  cursor: pointer;
}

.center-absolute {
  @include center_absolute();
}

.center-flex {
  @include center_flex();
}

.center-block {
  @include center_block();
}

mat-form-field {
  width: 100%;
}

body {
  &.no-connection {
    background-color: #d5dfe799;
  }
}
@include scrollbar_theme();
