@import 'functions';
@import 'mixins';
@import 'variables';

html,
body {
  height: 100%;
  user-select: none;
  margin: 0;
  background-color: #f1f2f5;
  &.no-connection {
    background-color: #d5dfe799;
  }
}

.backdrop {
  @include backdrop;
}

.full-height {
  height: 100vh;
}
.text-underline {
  text-decoration: underline;
}
.text-nounderline {
  text-decoration: none;
}
.overflow-auto {
  overflow: auto;
}
.pointer {
  cursor: pointer !important;
}
.center-absolute {
  @include center_absolute();
}
.center-flex {
  @include center_flex();
}
.center-block {
  @include center_block();
}

input {
  &:focus {
    outline: transparent;
    box-shadow: none;
    border: none;
  }
}
button {
  &:focus {
    outline: none !important;
  }
}
@include scrollbar_theme();

mat-form-field {
  width: 100%;
}
mat-chip-list {
  user-select: none;
}

.break-word {
  word-break: break-word;
}

.shadow {
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.11) !important;
}

.vertical-align-bottom {
  vertical-align: bottom !important;
}

.sticky-bottom {
  position: sticky;
  bottom: 0;
  z-index: 1;
  background-color: #fff;
}

@for $weight from 1 through 9 {
  .font-weight-#{$weight * 100} {
    font-weight: #{$weight * 100} !important;
  }
}

@for $size from 1 through 20 {
  .font-size-#{$size} {
    font-size: #{$size}px !important;
  }
}

@for $lineHeight from 1 through 60 {
  .line-height-#{$lineHeight * 2} {
    line-height: #{$lineHeight * 2}px !important;
  }
}

@for $index from 0 through 50 {
  $offset: $index * 2;
  .right-#{$offset} {
    right: #{$offset}px !important;
  }
}
@for $index from 0 through 50 {
  $offset: $index * 2;
  .left-#{$offset} {
    left: #{$offset}px !important;
  }
}

@for $index from 0 through 50 {
  $offset: $index * 2;
  .top-#{$offset} {
    top: #{$offset}px !important;
  }
}

@for $index from 0 through 50 {
  $offset: $index * 2;
  .bottom-#{$offset} {
    bottom: #{$offset}px !important;
  }
}

@each $prop, $abbrev in (height: h, width: w) {
  @for $i from 0 through 200 {
    @if $i != 100 and $i != 50 {
      $offset: $i * 2;
      .min-#{$abbrev}-#{$offset} {
        min-#{$prop}: #{$offset}px !important;
      }
      .max-#{$abbrev}-#{$offset} {
        max-#{$prop}: #{$offset}px !important;
      }
      .#{$abbrev}-#{$offset} {
        #{$prop}: #{$offset}px !important;
      }
    }
  }
}

@for $flips from 1 to 7 {
  $rotate_dig: $flips * 30;
  .rotate--#{$rotate_dig} {
    transform: rotate(calc(#{$rotate_dig} * 1deg));
  }
}
@for $size from 0 to 20 {
  @each $side in top, right, bottom, left {
    .border--#{$side}-#{$size} {
      border-width: #{$size}px !important;
    }
    .border--#{$side}-transparent {
      border-#{$side}-color: transparent !important;
    }
    @each $style in solid, dotted, dashed {
      .border--#{$side}-#{$style} {
        border-#{$side}-style: $style;
      }
    }
  }
}

@for $size from 1 to 25 {
  .font-size-#{$size} {
    font-size: #{size}px;
  }
}

@for $size from 0 to 20 {
  .border-radius-#{$size} {
    border-radius: #{$size}px !important;
  }
}

@for $size from 0 to 20 {
  .border--#{$size} {
    border-width: #{$size}px !important;
  }
}
@each $position in sticky, fixed {
  .#{$position}-bar {
    position: $position;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
  }
}
