@import "functions";
@import "mixins";
@import "variables";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: get_color_from_platte($mat-gray, 50);
  overflow: hidden;
}

.backdrop {
  @include backdrop;
}

.full-height {
  height: 100vh;
}
.text-underline {
  text-decoration: underline;
}
.text-nounderline {
  text-decoration: none;
}
.overflow-auto {
  overflow: auto;
}

.pointer {
  cursor: pointer;
}

.center-absolute {
  @include center_absolute();
}

.center-flex {
  @include center_flex();
}

.center-block {
  @include center_block();
}

mat-form-field {
  width: 100%;
  $base_width: 0.75em;
  &[appearance="outline"] {
    .mat-form-field-infix {
      padding: $base_width 0 $base_width 0 !important;
      .mat-form-field-label-wrapper {
        top: -1em !important;
        padding-top: $base_width !important;
      }
    }
  }
}

body {
  &.no-connection {
    background-color: #d5dfe799;
  }
}
