@import "~bootstrap/scss/bootstrap-grid";
@import "variables";

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

@mixin center_absolute($position: absolute) {
  position: $position;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin center_flex {
  display: flex !important;
  align-items: center;
  justify-content: center;
}
@mixin center_block {
  display: block;
  margin: auto;
}

@mixin anchor_style {
  a {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      outline: none;
    }
  }
}

// All scss mixins must be here, expand the mixins into folder if the file has a huge line
@mixin circular_button($dimension: 35px) {
  width: $dimension;
  height: $dimension;
  border-radius: $dimension;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin scrollbar_theme($width: 5px, $height: 5px, $color: gray) {
  $border-color: #fff;
  ::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  ::-webkit-scrollbar:vertical {
    width: $width;
  }
  ::-webkit-scrollbar:horizontal {
    height: $height;
  }
  ::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: transparent;
  }
  ::-webkit-scrollbar {
    width: $width;
    height: $height;
    background-color: rgba(0, 0, 0, 0);
  }
  ::-webkit-scrollbar:hover {
    background-color: rgba(0, 0, 0, 0.12);
  }
  ::-webkit-scrollbar-thumb {
    background-color: $color;
    border-radius: 0;
    border: 0 solid $border-color;
  }
  ::-webkit-scrollbar-thumb:active {
    box-shadow: inset 0 0 0 24px rgba(0, 0, 0, 0.54);
    border-radius: 24px;
  }
}

@mixin fixed_bar($position: fixed, $height: map-get($map: $layout_dimensions, $key: toolbar-height)) {
  height: $height;
  position: $position;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
}

@mixin form-validaition($color: map-get($map: $colors, $key: warn)) {
  &.ng-submitted {
    input:not(.ng-valid),
    select:not(.ng-valid),
    textarea:not(.ng-valid) {
      border: 1px solid $color;
      @include placeholder {
        color: $color !important;
      }
    }
  }
  input,
  select,
  textarea {
    transition: border 0.15s cubic-bezier(0.165, 0.84, 0.44, 1);
    &.ng-touched.ng-invalid {
      @include placeholder {
        color: $color !important;
      }
      border: 1px solid $color;
    }
  }
}

@mixin backdrop($position: fixed, $zIndex: 999, $color: rgba(0, 0, 0, 0.5)) {
  &::before {
    position: $position;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    z-index: $zIndex;
    content: "";
  }
}

@mixin font_size($by: 1) {
  @for $size from 1 to 5 {
    .font-size-#{$size} {
      font-size: calc(#{$size}em / #{$by});
    }
  }
}

@mixin border_radius($by: 1) {
  @for $size from 0 to 20 {
    .border-radius-#{$size} {
      border-radius: calc(#{$size}em / #{$by});
    }
  }
}

@mixin border_width() {
  @for $size from 0 to 20 {
    .border--#{$size} {
      border-width: #{$size}px !important;
    }
  }
}

@mixin bootstrab_default {
  input {
    &:focus {
      outline: transparent;
      box-shadow: none;
      border: none;
    }
  }
  button {
    &:focus {
      outline: none !important;
    }
  }
}

@mixin direction($dir) {
  body[dir="#{$dir}"] &,
  html[dir="#{$dir}"] & {
    @content;
  }
}

@mixin overflowHeight($threshold: 0) {
  $toolbar-height: map-get(
    $map: $layout_dimensions,
    $key: toolbar-height,
  );
  height: calc(100% - #{$toolbar-height} - #{$threshold});
}
