:host {
  display: block;
  .text-wrapper {
    white-space: nowrap;
  }
  .toggle-icon {
    transform: scale(0.5);
    &.active {
      transform: scale(0.5) rotateZ(180deg);
    }
  }
  img {
    width: 40px !important;
    height: 40px !important;
  }
}
