<div class="container h-100">
    <div class="row align-items-center justify-content-center h-100">
        <div class="col-12 col-md-7">
            <ng-container *ngIf="steps[0]">
                <ngx-form-factory title="Forgot password" [formGroup]="verificationForm" (onSubmit)="checkUser($event)">
                    <span form-header>Enter your information below and we'll help you to reset your password</span>
                    <ng-container ngProjectAs="[form-footer]" [ngTemplateOutlet]="loginButton"></ng-container>
                </ngx-form-factory>
            </ng-container>
            <ng-container *ngIf="steps[1]">
                <ngx-form-factory title="Confirm your account information" [formGroup]="sendPincodeForm"
                    [external]="true" (onSubmit)="sendPincode($event)">
                    <span form-header>How would you like to verify your account</span>
                    <ng-container ngProjectAs="[form-body]">
                        <mat-accordion>
                            <mat-expansion-panel [expanded]="true" (afterCollapse)="sendPincodeForm.reset()"
                                [disabled]="!accountVerificationResponse.emailVerified">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="font-weight-500">
                                        Receive an email
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ngx-field-factory [field]="sendPincodeForm.get('email')"></ngx-field-factory>
                                <p>By continuing you confirm that you're authorized to access this email account.</p>
                            </mat-expansion-panel>
                            <mat-expansion-panel (afterCollapse)="sendPincodeForm.reset()"
                                [disabled]="!accountVerificationResponse.mobileVerified">
                                <mat-expansion-panel-header>
                                    <mat-panel-title class="font-weight-500">
                                        Receive a text message
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ngx-field-factory [field]="sendPincodeForm.get('mobile')"></ngx-field-factory>
                                <p>By continuing you confirm that you're authorized to use this phone number and agree
                                    to receive text messages.</p>
                            </mat-expansion-panel>
                        </mat-accordion>
                    </ng-container>
                    <ng-container ngProjectAs="[form-footer]" [ngTemplateOutlet]="loginButton"></ng-container>
                </ngx-form-factory>
            </ng-container>
            <ng-container *ngIf="steps[2]">
                <app-pincode-box [data]="{proxy: sendPincodeType, type: 'account'}" (onSubmit)="checkPincode($event)"
                    (onRetry)="sendPincode(sendPincodeForm?.value)">
                </app-pincode-box>
            </ng-container>
            <ng-container *ngIf="steps[3]">
                <ngx-form-factory title="Reset password" [formGroup]="resetPasswordForm"
                    (onSubmit)="resetPassword($event)">
                    <span form-header>Don't forgot it again ^^</span>
                </ngx-form-factory>
            </ng-container>
        </div>
    </div>
</div>

<ng-template #loginButton>
    <button color="primary" mat-button [routerLink]="['../', 'login']">Login</button>
</ng-template>
