<semi-table [dense]="true" [dataSource]="files">
    <semi-table-head>
        <th>Actions</th>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Created at</th>
        <th>Last modifed</th>
    </semi-table-head>
    <ng-template let-data let-index="index">
        <td>
            <button color="accent" mat-icon-button (click)="deleteFile(data._id, index)">
                <mat-icon>delete_outline</mat-icon>
            </button>
        </td>
        <td>{{ data.name }}</td>
        <td><span class="text-uppercase bg-secondary mr-1 roundeds p-1">{{data.type}}</span></td>
        <td><span class="text-uppercase">{{data.size / 1000 || ''}} kb</span></td>
        <td>{{ data.createdAt | date:'short' }}</td>
        <td>{{ data.updatedAt | date }}</td>
    </ng-template>
</semi-table>
