<header class="container-fluid d-flex align-items-center justify-content-between">
    <div class="w-50">
        <mat-form-field appearance="legacy">
            <mat-label>Search for a file!</mat-label>
            <input matInput #searchInput (input)="searchForFiles(searchInput?.value)">
        </mat-form-field>
    </div>
    <div class="actions d-flex align-items-center">
        <button mat-stroked-button>Upload</button>
        <div class="d-flex align-items-center mx-2">
            <button mat-icon-button class="view-icon">
                <mat-icon>list</mat-icon>
            </button>
            <span class="toolbar-seperator mx-1"></span>
            <button mat-icon-button class="view-icon">
                <mat-icon>grid_on</mat-icon>
            </button>
        </div>
    </div>
</header>
