@import "mixins";

:host {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  .actions-buttons {
    button {
      background-color: #f1f2f5;
    }
  }
  .add-button {
    $size: 30px;
    height: $size;
    line-height: 0px;
    width: $size;
    max-width: $size;
    min-width: $size;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    padding: 0;
    transform: translateY(-5px);
  }
  .send-button {
    transform: translateY(-2px);
  }
  .textarea-wrapper {
    overflow: hidden;
    &:hover {
      overflow-x: auto;
    }
    background-color: #f1f2f5;
    textarea {
      font-size: 14px;
      width: 100%;
      background-color: #f1f2f5;
      min-height: 32px !important;
      &:hover,
      &:focus {
        outline: 0;
      }
    }
  }
  .attachment-box {
    height: 60px;
    flex: 0 0 20%;
    mat-icon {
      font-size: 18px;
      height: 18px;
      width: 18px;
      top: -20%;
      right: 0;
    }
    .document-name {
      max-width: 150px;
      height: 50px;
      line-height: 50px;
      background-color: rgba(0, 0, 0, 0.12);
    }
  }
  ::ng-deep {
    .emoji-picker__content {
      h2 {
        display: none !important;
      }
      .emoji-picker__tabs {
        display: none !important;
      }
    }
  }
}
