<div class="actions-buttons box" *ngIf="showActionBar && !external">
    <app-file-control (onChange)="uploadFiles($event)">
        <button mat-button>
            <mat-icon class="text-muted">insert_photo</mat-icon>
        </button>
    </app-file-control>
    <button mat-button class="mx-1">
        <mat-icon class="text-muted">gif</mat-icon>
    </button>
    <button mat-button class="mx-1">
        <mat-icon class="text-muted">photo_album</mat-icon>
    </button>
    <button mat-button class="mx-1">
        <mat-icon class="text-muted">attachment</mat-icon>
    </button>
    <button mat-button (click)="openMediaPicker()">
        <mat-icon class="text-muted">folder</mat-icon>
    </button>
</div>
<footer class="d-flex align-items-end py-2 w-100">
    <button mat-flat-button class="mx-2 bg--primary add-button">
        <mat-icon class="text-white" (click)="openActionBar()">
            add
        </mat-icon>
    </button>
    <div class="mh-100 d-flex flex-column w-100 textarea-wrapper align-self-stretch border-radius-1">
        <div *ngIf="base64Files.length" class="d-flex pt-3 px-2 overflow-auto flex-fill">
            <div class="attachment-box mx-1 position-relative" *ngFor="let file of files; let index = index;">
                <mat-icon (click)="disposeFile(index)"
                    class="pointer text-muted position-absolute bg-white border-radius-1 shadow">close
                </mat-icon>
                <img *ngIf="isImage(file.name); else documentType" class="img-fluid h-100 border-radius-1"
                    [src]="base64Files[index] | async">
                <ng-template #documentType>
                    <p class="bg-white px-2 mb-0 border-radius-1 text-truncate document-name shadow">{{file.name}}
                    </p>
                </ng-template>
            </div>
        </div>
        <div class="d-flex align-items-center px-2 mt-2">
            <textarea class="border-0 border-radius-1" [formControl]="messageFormControl" placeholder="Write a message"
                cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="4"></textarea>
            <mat-icon class="pointer align-self-end position-relative bottom-8" (click)="openEmojiPicker($event)">
                tag_faces</mat-icon>
        </div>
    </div>
    <button mat-icon-button class="ml-auto send-button" (click)="sendMessage()">
        <mat-icon class="text--primary">send</mat-icon>
    </button>
</footer>
