<div class="container h-100">
  <div class="row align-items-center justify-content-center h-100">
    <div class="col-12 col-md-8 col-lg-6">
      <mat-card>
        <mat-card-header class="justify-content-center">
          <mat-card-title>Register in our system</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="form">
            <mat-form-field>
              <mat-label>{{ 'placeholder_firstname' | translate }}</mat-label>
              <input type="text" [formControlName]="getName('firstName')" autocomplete="given-name" matInput>
              <mat-error *ngIf="getError('firstName', 'pattern')">Special chars are forbidden</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'placeholder_lastname' | translate }}</mat-label>
              <input type="text" [formControlName]="getName('lastName')" matInput autocomplete="family-name">
              <mat-error *ngIf="getError('lastName', 'pattern')">Special chars are forbidden</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'placeholder_email' | translate }}</mat-label>
              <input type="email" [formControlName]="getName('email')" matInput autocomplete="email">
              <mat-error *ngIf="getError('email', 'email')">Please enter valid email</mat-error>
            </mat-form-field>
            <mat-form-field>
              <mat-label>{{ 'placeholder_passowrd' | translate}}</mat-label>
              <input type="password" [formControlName]="getName('password')" matInput>
              <mat-error *ngIf="getError('password', 'minlength') || getError('password', 'maxlength')">
                The length of password must be between 8 and 16
              </mat-error>
            </mat-form-field>
            <section>
              <div class="text-right my-3">
                <button (click)="register()" mat-flat-button color="primary"
                  class="text-white text-center w-100">{{ 'button_register' | translate }}</button>
              </div>
            </section>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>