@use 'variables';
$toolbar-height: map-get(
  $map: variables.$layout_dimensions,
  $key: toolbar-height,
);
:host {
  .toolbar-button {
    width: $toolbar-height;
    height: calc(#{$toolbar-height} - 2px);
  }
  .seperator {
    height: 100%;
    width: 1px;
  }
}
