<div class="d-flex align-items-center text--accent">
  <button (click)="toggleSidebar()" class="mx-2" mat-icon-button>
    <mat-icon>reorder</mat-icon>
  </button>
  <button (click)="toggleFullScreen()" mat-icon-button class="mx-2">
    <mat-icon>fullscreen</mat-icon>
  </button>
  <button (click)="toggleFullScreen()" mat-icon-button class="mx-2">
    <mat-icon>widgets</mat-icon>
  </button>
  <button [matMenuTriggerFor]="menu" mat-icon-button class="mx-2">
    <mat-icon>public</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button (click)="changeLanguage('ar')" mat-menu-item>
      <img style="width:10%" src="assets/images/flags/sa.svg" alt="Arabic">
      <span class="mx-3">{{ 'arabic' | translate }}</span>
    </button>
    <button (click)="changeLanguage('en')" mat-menu-item>
      <img style="width:10%" src="assets/images/flags/us.svg" alt="English">
      <span class="mx-3">{{ 'english' | translate }}</span>
    </button>
  </mat-menu>
</div>

<!-- <div class="seperator bg--primary"></div>
<button class="toolbar-button" (click)="toggleFullScreen()" mat-icon-button>
  <mat-icon color="primary">fullscreen</mat-icon>
  <span></span>
</button>
<div class="seperator bg--primary"></div>
<button class="toolbar-button" [routerLink]="[routes.CHAT.withSlash]" mat-icon-button>
  <mat-icon color="primary">chat</mat-icon>
</button>
<div class="seperator bg--primary"></div>
<button mat-button [matMenuTriggerFor]="userMenu" class="user-button h-100">
  <div class="center-flex h-100">
    <img class="avatar mr-0 mr-sm-16" fallback="identicon" [src]="user?.avatar || 'assets/images/avatar.svg'"
      ngxGravatar [preferGravatar]="false">
    <span class="username mx-4">{{user.name}}</span>
    <mat-icon role="img" aria-hidden="true">keyboard_arrow_down</mat-icon>
  </div>
</button>
<mat-menu #userMenu="matMenu" [overlapTrigger]="false">
  <button mat-menu-item [routerLink]="[routes.ADMINS.withSlash, user.jti]">
    <mat-icon>account_circle</mat-icon>
    <span>My Profile</span>
  </button> 
  <button mat-menu-item (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu> -->
