<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-8 col-12">
      <app-form [formGroup]="Form" (submit)="createArticle()" title="{{ 'create_article' | translate }}">
        <section form-body>
          <mat-form-field>
            <mat-label>{{ 'placeholder_title' | translate }}</mat-label>
            <input [formControlName]="getName('title')" matInput>
          </mat-form-field>
          <mat-form-field>
            <mat-label>{{ 'placeholder_data' | translate }}</mat-label>
            <input [formControlName]="getName('data')" matInput>
          </mat-form-field>
          <angular-editor [formControlName]="getName('content')"></angular-editor>
          <div class="mb-3"></div>
          <app-upload-picture size="4" [supported]="['png', 'jpeg']" [formControlName]="getName('image')"></app-upload-picture>
        </section>
      </app-form>
    </div>
  </div>
</div>