@import "mixins";
:host {
    position: relative;
    display: block;
    &.uploading {
        @include backdrop(absolute, 0);
        .loader,
        .loader:after {
            border-radius: 50%;
            width: 10em;
            height: 10em;
        }
        .loader {
            font-size: 5px;
            position: absolute;
            top: 40%;
            left: 40%;
            text-indent: -9999em;
            border-left: 1.1em solid #ffffff;
            transform: translateZ(0);
            animation: load8 1.1s infinite linear;
        }
        @keyframes load8 {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }
    }
}
