@import "functions";
@import "variables";

:host {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  .file-upload {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px dashed #0177bd;
    overflow: hidden;
    background-size: 100% 200%;
    transition: background-position 0.35s;
    .upload-icon {
      font-size: 45px;
      width: 45px;
      height: 45px;
    }
    // &:hover {
    // TODO: enable then on upload to measure the progress
    //   background-position: 0 100%;
    //   mat-icon {
    //     color: #fff;
    //   }
    // }
    &.uploaded {
      z-index: 1;
      img {
        z-index: -1;
      }
    }
  }
}
