@import 'functions';
@import 'variables';

:host {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  will-change: filter;
  transition: 0.25s filter cubic-bezier(0.175, 0.885, 0.32, 1.275);
  &.drag-over {
    filter: opacity(0.5);
  }
  .file-upload {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: 1px dashed #0177bd;
    overflow: hidden;
    background-size: 100% 200%;
    transition: background-position 0.35s;
    .upload-icon {
      font-size: 45px;
      width: 45px;
      height: 45px;
    }
    // TODO: to measure the progress
    //   background-position: 0 100%;
    //   mat-icon {
    //     color: #fff;
    //   }

    &.uploaded {
      &:not(.custom):hover {
        will-change: filter;
        transition: 0.25s filter;
        filter: opacity(0.8) blur(1px);
      }
    }
  }

  &.box {
    height: 80px;
    width: 100px;
  }
}
