<div class="container-fluid">
    <mat-card>
        <mat-card-header class="my-3">
            <mat-card-title>{{ module?.title }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <!-- <ng2-smart-table [settings]="module?.settings" [source]="source" (create)="create()" (edit)="edit($event)">
            </ng2-smart-table> -->
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-footer>
            <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-footer>
    </mat-card>
</div>