@import 'mixins';
:host {
    app-sidebar {
        --width: 300px;
        > section {
            background-color: #312e2e;
            > * {
                z-index: 0;
            }
        }
    }
    .toolbar-button {
        $size: 40px;
        min-width: $size;
        width: $size;
        height: $size;
        padding: 0;
        border-radius: $size;
    }
    .file-wrapper {
        height: calc(100% - 200px);
        object {
            width: 100%;
            height: 100%;
        }
        img {
            max-height: 100%;
        }
    }
    .blur-area {
        height: 100%;
        position: absolute;
        width: 100%;
        top: 0;
        background-size: cover;
        filter: brightness(0.5) blur(10px);

        &::before {
            content: '';
            background-color: #00000078;
            width: 100%;
            height: 100%;
            display: block;
        }
    }
    footer {
        height: 100px;
        @include scrollbar_theme(3px, 3px, gray);
        .footer-file {
            border: 3px solid transparent;
            transition: border-color 0.15s;
            will-change: border-color;
            overflow: auto;
            &:hover {
                border-color: gray;
            }
            flex: 0 0 9%;
            height: 100px;
        }
    }
}
