:host {
  display: block;
  overflow: auto;
}
table {
  width: 100%;
  text-align: center;
  background-color: transparent;
  border-collapse: collapse;
  ::ng-deep {
    semi-table-head,
    semi-table-body {
      display: contents;
    }
  }
  &:not(.disable-default) {
    tr {
      ::ng-deep {
        th,
        td {
          text-align: inherit;
        }
        th {
          font-weight: 500;
          color: rgba(0, 0, 0, 0.54);
        }

        td {
          vertical-align: middle;
        }
      }
    }
    thead {
      tr {
        th {
          vertical-align: middle;
        }
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        &:first-child {
          height: 40px;
        }
        &:last-child {
          height: 50px;
          th {
            padding: 0 1.5rem 0 0;
            input,
            select {
              border-radius: 4px;
              background-color: white;
              border: 1px solid #ccc;
              width: 100%;
              padding: 0.25rem 0;
              text-indent: 8px;
            }
          }
        }
      }
    }
    tbody {
      tr {
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        height: 40px;
      }
    }
  }
}
