@import 'functions';
@import 'mixins';
@import 'variables';
@import '~@angular/material/theming';

:host {
  app-toolbar {
    @include fixed_bar(absolute);
  }

  .router-container {
    $height: map-get(
      $map: $layout_dimensions,
      $key: toolbar-height
    );
    margin-top: calc(#{$height} * 1);
  }
  app-sidebar {
    --width: 230px;
    [sidebar-drawer] {
      mat-nav-list {
        img {
          width: 30px !important;
          height: 30px !important;
        }
      }
    }
  }
}

// Background
// https://dribbble.com/shots/6903052-Tp-Concept/attachments/1467171
