@import "variables";
@import "mixins";

:host {
  app-toolbar {
    @include fixed_bar(absolute);
  }

  .router-container {
    $height: map-get(
      $map: $layout_dimensions,
      $key: toolbar-height
    );
    margin-top: calc(#{$height} * 1);
  }
}
