@import 'functions';
@import 'mixins';
@import 'variables';
@import '~@angular/material/theming';

:host {
  app-toolbar {
    @include fixed_bar(sticky);
  }

  .router-container {
    @include overflowHeight();
  }
  app-sidebar {
    --width: 275px;
    [sidebar-drawer] {
      background-color: transparent;
      mat-nav-list {
        img {
          width: 30px !important;
          height: 30px !important;
        }
      }
    }
  }

  .floating-button {
    position: fixed !important;
    right: 2%;
    bottom: 2%;
  }
}

// Background
// https://dribbble.com/shots/6903052-Tp-Concept/attachments/1467171
