<app-navbar>
  <app-content>
    <app-toolbar class="w-100 d-flex justify-content-end align-items-center bg-white border-bottom"></app-toolbar>
    <section class="router-container">
      <app-sidebar name="chat_bar" class="right">
        <div sidebar-drawer class="border-left">
          <mat-card-content>
            <mat-nav-list>
              <h3 mat-subheader> Conversations </h3>
              <mat-list-item *ngFor="let conversation of ($conversations | async)" (click)="openChatCard(conversation)">
                <img matListAvatar ngxGravatar [email]="conversation.email" fallback="identicon">
                <p matLine> {{conversation.username}} </p>
              </mat-list-item>
              <h3 mat-subheader> Groups </h3>
              <mat-list-item *ngFor="let group of ($groups | async)" (click)="openGroupChatCard(group)">
                <img matListAvatar ngxGravatar email="" [src]="group.logo" fallback="identicon">
                <p matLine> {{group.title}} </p>
              </mat-list-item>
            </mat-nav-list>
          </mat-card-content>
          <mat-divider></mat-divider>
          <mat-card-footer>
            <button mat-button (click)="openCreateGroup()">
              <mat-icon class="text-muted">group_add</mat-icon>
            </button>
          </mat-card-footer>
        </div>
        <div sidebar-container>
          <router-outlet></router-outlet>
        </div>
      </app-sidebar>
    </section>
    <!-- <app-footer class="p-3"> </app-footer> -->
  </app-content>
</app-navbar>

<button mat-mini-fab class="floating-button" (click)="openCreateChatCard()">
  <mat-icon>add_comment</mat-icon>
</button>
