<div class="container-fluid">
  <ng-container *ngIf="($dataSource | async) as data; else createArticle">
    <div class="row">
      <ng-container *ngFor="let article of data; trackBy: trackByFunction">
        <div class="col-lg-4 col-md-6 col-12 mb-4">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                {{article.title}}
              </mat-card-title>
            </mat-card-header>
            <img mat-card-image [src]="article.image" [alt]="article.data">
            <mat-card-content>
              <div class="content" [innerHTML]="article.content | safe:'html'"></div>
            </mat-card-content>
            <mat-card-actions>
              <button mat-raised-button color="primary"
                [routerLink]="['./', 'update', article.id]">{{ 'update' | translate }}</button>
              <button mat-raised-button color="warn"
                (click)="removeArticle(article.id)">{{ 'remove' | translate}}</button>
            </mat-card-actions>
          </mat-card>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-template #createArticle>
    <button mat-raised-button color="primary" class="center-absolute"
      [routerLink]="['./', 'create']">{{ 'create_article' | translate }}</button>
  </ng-template>
</div>