<ng-container *ngIf="isFile(); else textViewer">
    <app-file-viewer [withLoader]="false" [file]="file" class="pointer shadow-sm border rounded"
        [class.ml-auto]="isSender" (onUpload)="sendMessage($event.path)">
    </app-file-viewer>
</ng-container>
<ng-template #textViewer>
    <div class="p-2 position-relative rounded text-white" [matTooltipPosition]="'above'"
        [matTooltip]="message.createdAt | timeago" [ngClass]="{
        'bg--accent': isSender,
        'bg--primary': !isSender
    }">{{message.text}}</div>
</ng-template>

<div *ngIf="loading" matTooltip="Sending" class="loader"></div>
