<app-sidebar>
    <div sidebar-drawer>
        <mat-nav-list class="h-100" dense>
            <mat-list-item *ngFor="let folder of ($folders | async)" (click)="onFolderClick(folder)">
                <mat-icon mat-list-icon text-muted>
                    {{currentFolderID !== folder._id ? 'folder' : 'folder_open'}}
                </mat-icon>
                <h4 mat-line class=""> {{folder.name}}</h4>
            </mat-list-item>
        </mat-nav-list>
    </div>
    <div sidebar-container #sidebarContainer class="p-3 d-flex flex-column justify-content-between">
        <app-media-hub-grid-view [parentSelector]="sidebarContainer" *ngIf="currentFolderID">
        </app-media-hub-grid-view>
        <footer class="text-right">
            <button mat-flat-button [mat-dialog-close]="markedFiles" [disabled]="!markedFiles.length"
                color="primary">Insert</button>
        </footer>
    </div>
</app-sidebar>
