$app_colors: ();
$app_theme: ();
$breakPoints: (
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);
$layout_layers: (
  toolbar: 9999,
  navbar: 9999,
  content: 9999,
  footer: 9999
);
$layout_dimensions: (
  navbar-width:(
    folded: 5%,
    xLarge: 18%,
    large: 20%,
    medium: 50%,
    small: 75%
  ),
  toolbar-height: 60px,
  footer_height: 55px
);
