<div class="container absolute-center">
  <div class="row justify-content-center align-items-center h-100">
    <div class="col-12 col-lg-8 text-center h-100">
      <div class="card h-100">
        <div class="card-body zig-zag">
          <div class="d-flex justify-content-center">
            <div class="w-25 ">
              <img src="assets/images/happy_face-3.svg" alt="" class="img-fluid">
            </div>
          </div>
          <h2 class="my-4 text-pink">{{ 'success_title' | translate }}</h2>
          <p class="lead text-secondary">{{ 'success_promo' | translate }}</p>
        </div>
        <div class="card-footer">
          <button mat-raised-button routerLink="/portal/login" class="bg-pink">{{ 'button_login' | translate }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-gradiant-main w-100 h-100 position-absolute"></div>