@import '~@angular/material/theming';
@import 'functions';
@import 'variables';
@import 'layout/layout.theme';
@import 'pages/portal/portal.theme';
@import 'widget/upload-file/upload-file.theme';

@include mat-core();

@mixin application_theme($theme) {
  @include angular-material-theme($theme);
  @include theme_classes($theme);
  @include layout_theme($theme);
  @include portal_theme($theme);
  @include upload_file($theme);
}

.default-theme {
  $primary: mat-palette($mat-blue, 700);
  $accent: mat-palette($mat-blue-gray, 800);
  $theme: mat-light-theme($primary, $accent);
  @include application_theme($theme);
}

.second-theme {
  $primary: mat-palette($mat-green, 900);
  $accent: mat-palette($mat-yellow, 300);
  $theme: mat-light-theme($primary, $accent);
  @include application_theme($theme);
}
