<mat-list>
    <div class="d-flex justify-content-between align-items-baseline">
        <h3 mat-subheader> Folders </h3>
        <button mat-icon-button>
            <mat-icon class="text-muted">create_new_folder</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let folder of folders">
        <mat-icon mat-list-icon>
            folder
            <!-- Active => 'folder_open' -->
        </mat-icon>
        <h4 mat-line>{{folder.name}}</h4>
    </mat-list-item>
</mat-list>