@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  min-height: 99%;
  .action-button {
    padding: 0;
    height: 50px;
    max-width: 40px;
    min-width: 40px;
    width: 40px;
  }
  mat-nav-list {
    overflow: auto;
  }
}
