@import "mixins";

:host {
  display: flex;
  flex-direction: column;
  min-height: 99%;
  mat-list-item {
    $button_width: 40px;
    width: calc(100% - #{$button_width}) !important;
    & + .action-button {
      padding: 0;
      height: 50px;
      max-width: $button_width;
      min-width: $button_width;
      width: $button_width;
    }
  }
  mat-nav-list {
    overflow: auto;
  }
}
