<mat-list>
    <div class="d-flex justify-content-between align-items-baseline">
        <h3 mat-subheader> Folders </h3>
        <button mat-icon-button type="button" (click)="toggleFolderCreation()">
            <mat-icon class="text-muted">create_new_folder</mat-icon>
        </button>
    </div>
    <mat-divider></mat-divider>
    <ng-container *ngIf="createFolderActive">
        <div class="px-3">
            <mat-form-field appearance="legacy">
                <mat-hint>Folder name...</mat-hint>
                <input matInput #folderInput (keyup.enter)="createFolder(folderInput.value)">
                <button type="button" (click)="createFolder(folderInput.value)" [disabled]="!folderInput.value"
                    mat-icon-button matSuffix>
                    <mat-icon class="text-muted">add</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <div class="mb-3"></div>
        <mat-divider></mat-divider>
    </ng-container>
</mat-list>
<mat-nav-list dense class="flex-fill">
    <ng-container *ngFor="let folder of folders; let index = index;">
        <div class="d-flex justify-content-between align-items-center">
            <mat-list-item (click)="onFolderClick(folder)">
                <mat-icon mat-list-icon text-muted>
                    {{currentFolderID !== folder._id ? 'folder' : 'folder_open'}}
                </mat-icon>
                <h5 mat-line class="text-truncate"> {{folder.name}}</h5>
            </mat-list-item>
            <button class="action-button" (click)="$event.preventDefault();$event.stopImmediatePropagation();"
                mat-flat-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{folder: folder, index: index}">
                <mat-icon class="text-muted">more_vert</mat-icon>
            </button>
        </div>
    </ng-container>
</mat-nav-list>
<mat-chip-list class="px-2">
    <mat-chip *ngFor="let tag of ($tags | async)" [style.background-color]="tag.color" (click)="filterByTag(tag)"
        class="pointer" selected>
    </mat-chip>
</mat-chip-list>

<mat-menu style="display: contents;" #menu="matMenu">
    <ng-template matMenuContent let-folder="folder" let-index="index">
        <button mat-menu-item (click)="deleteFolder(folder, index)">
            <mat-icon>delete_outline</mat-icon>
            <span>Delete</span>
        </button>
        <button mat-menu-item (click)="renameFolder(folder, index)">
            <mat-icon>text_format</mat-icon>
            <span>Rename</span>
        </button>
        <button mat-menu-item>
            <mat-icon>notifications_off</mat-icon>
            <span>Share</span>
        </button>
    </ng-template>
</mat-menu>
