@import 'mixins';

:host {
  display: flex;
  flex-direction: column;
  min-height: 99%;
  .folder-title {
    font-size: inherit;
    margin: inherit;
    & + mat-icon {
      height: 20px;
      font-size: 20px;
      width: 20px;
      line-height: 20px;
    }
  }
  mat-nav-list {
    overflow: auto;
  }
}
