@import "mixins";
@import "variables";
:host {
  display: block;
  $transition-duration: 0.35s;
  app-navbar-item {
    mat-icon {
      will-change: transform;
      transition: transform $transition-duration ease-in-out;
    }
  }
  .droplist {
    max-height: 0px;
    overflow: hidden;
    will-change: max-height;
    transition: max-height $transition-duration cubic-bezier(0, 1, 0, 1);
    app-navbar-item {
      &:not(:first-child) {
        margin-bottom: 0.5rem;
      }
      ::ng-deep {
        button {
          padding-top: 0.25rem !important;
          padding-bottom: 0.25rem !important;
        }
      }
    }
    // ::ng-deep {
    //   @include direction(rtl) {
    //     margin-right: 1rem;
    //   }
    //   @include direction(ltr) {
    //     margin-left: 1rem;
    //   }
    // }
  }
  &.expanded {
    background-color: #1e202d;
    app-navbar-item {
      mat-icon {
        transform: rotate(180deg);
      }
    }
    .droplist {
      max-height: 500px !important;
      transition: max-height $transition-duration ease-in-out;
    }
  }
}

// background color of app-navbar-collapse, app-navbar-item and hover
