<div class="wrapper w-100 h-100 d-flex align-items-center justify-content-center">
  <label class="file-upload position-relative d-flex align-items-center justify-content-center bg--primary pointer"
    for="pricure-{{label}}" [class.uploaded]="value">
    <input id="pricure-{{label}}" accept="image/*" #imageInput (change)="uploadPicture(imageInput)" hidden
      type="file" />
    <mat-icon class="text--primary">{{value ? 'delete' : 'cloud_upload'}}</mat-icon>
    <ng-container *ngIf="value">
      <img [src]="value | safe:'url'" class="position-absolute w-100 h-100" alt="avatar">
    </ng-container>
  </label>
</div>