:host {
  position: fixed;
  height: 450px;
  width: 350px;
  bottom: 2%;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  right: inherit;

  mat-card {
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
  }
  .caret {
    transition: bottom 0.25s;
    position: absolute;
    right: -4%;
    bottom: 1.5%;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid white;
  }
}
