<ng-container *ngIf="field.typeOf(types.TEXT)">
    <mat-form-field>
        <mat-label>{{field.label}}</mat-label>
        <input type="text" [autocomplete]="field.autocomplete" matInput [formControl]="field">
    </mat-form-field>
</ng-container>
<ng-container *ngIf="field.typeOf(types.PASSWORD)">
    <!-- TODO: provide style object in Field class, it should be flutter like style, 
        new Field(
            style: {
                prefix:,
                suffix:,
            },
        );
        and split the field to be base class in order to RawField to extend it.
        RawField shouldn't have the style object.
    -->
    <mat-form-field>
        <mat-label>{{field.label}}</mat-label>
        <input #input type="password" [autocomplete]="field.autocomplete" matInput [formControl]="field">
        <mat-icon (click)="input.type === 'text' ? 'password' : 'text'" matSuffix>lock</mat-icon>
    </mat-form-field>
</ng-container>
<ng-container *ngIf="field.typeOf(types.TEXTAREA)">
    <mat-form-field>
        <mat-label>{{field.label}}</mat-label>
        <textarea matInput [formControl]="field"></textarea>
    </mat-form-field>
</ng-container>
<ng-container *ngIf="field.typeOf(types.EMAIL)">
    <mat-form-field>
        <mat-label>{{field.label}}</mat-label>
        <input type="email" matInput [autocomplete]="field.autocomplete || 'email'" [formControl]="field">
    </mat-form-field>
</ng-container>
<ng-container *ngIf="field.typeOf(types.NUMBER)">
    <mat-form-field>
        <mat-label>{{field.label}}</mat-label>
        <input type="number" matInput [formControl]="field">
    </mat-form-field>
</ng-container>
<ng-container *ngIf="field.typeOf(types.DATE)">
    <mat-form-field>
        <mat-label>{{ field.label }}</mat-label>
        <input matInput [max]="field.max" [min]="field.min" (focus)="datePicker.open()" [matDatepicker]="datePicker"
            [formControl]="field">
        <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
        <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
</ng-container>
<ng-container *ngIf="field.typeOf(types.CHECKBOX)">
    <mat-label>{{field.label}}</mat-label>
    <mat-checkbox [formControl]="field"></mat-checkbox>
</ng-container>
<ng-container *ngIf="field.typeOf(types.SELECT)">
    <mat-form-field>
        <mat-label>{{field.label}}</mat-label>
        <mat-select [formControl]="field">
            <mat-option *ngFor="let option of field.options" [value]="option.value">
                {{option.title}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</ng-container>
<ng-container *ngIf="field.typeOf(types.MULTIPLE)">
    <mat-form-field>
        <mat-label>{{field.label}}</mat-label>
        <mat-select [formControl]="field" [multiple]="true">
            <mat-option *ngFor="let option of field.options" [value]="option.value">
                {{option.title}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</ng-container>
<ng-container *ngIf="field.typeOf(types.RADIO)">
    <mat-label>{{field.label}}</mat-label>
    <mat-radio-group class="d-flex flex-column">
        <mat-radio-button *ngFor="let option of field.options" [value]="option.value">
            {{option.title}}
        </mat-radio-button>
    </mat-radio-group>
</ng-container>
<ng-container *ngIf="field.typeOf(types.TEL)">
    <!-- TODO: {
        new RawField({
            component: MobileControlComponent,
            onceComponentCreated(instance: MobileControlComponent){

            },
            ...fieldOptions
        });
    } -->
    <app-mobile-control [formControl]="field">
    </app-mobile-control>
</ng-container>
<app-country-control [formControl]="field"></app-country-control>
<!-- TODO: Setup datetime type -->
