:host {
  position: relative;
  display: block;
  .title {
    width: 100%;
    word-break: break-word;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  border-color: transparent;
  transition: border-color 0.25s;
  will-change: border-color;
  .check-icon {
    display: none;
    z-index: 999;
    top: -5%;
    left: -5%;
  }

  mat-card {
    border: 2px solid transparent;
  }
  &.markable {
    &.checked {
      mat-card {
        border-color: black !important;
      }
      .check-icon {
        display: block;
      }
    }
    &:hover {
      mat-card {
        border-color: black;
      }
      .check-icon {
        display: block;
      }
    }
  }
}
