<mat-card class="h-100 d-flex flex-column justify-content-between mat-card-elevation-z1 p-0">
    <div class="mat-elevation-z1 py-1 d-flex align-items-center pl-3 pr-1">
        <img mat-card-avatar ngxGravatar fallback="identicon">
        <div class="w-100 d-flex align-items-center justify-content-between ml-3">
            <h6 class="mb-0">{{data.title}}</h6>
            <div class="d-flex">
                <button mat-icon-button (click)="openGroupMembers()">
                    <mat-icon class="text-muted">group_work</mat-icon>
                </button>
                <button mat-icon-button (click)="closeCard()">
                    <mat-icon class="text-muted">close</mat-icon>
                </button>
            </div>
        </div>
    </div>
    <mat-card-content class="d-flex flex-column justify-content-between h-100 mb-0 px-3 pt-3">
        <div>
            <ng-container *ngFor="let message of messages">
                <p>{{message.message}}</p>
            </ng-container>
        </div>
        <div>
            <mat-divider></mat-divider>
            <mat-form-field [appearance]="$any('none')">
                <textarea placeholder="Write a message" matInput #messageInput cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-footer class="m-0 d-flex align-items-center">
        <button mat-icon-button>
            <mat-icon class="text-muted">more_vert</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon class="text-muted">attach_file</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon class="text-muted">emoji_emotions</mat-icon>
        </button>
        <button mat-icon-button class="ml-auto" (click)="sendMessage(messageInput?.value)">
            <mat-icon class="text-muted">send</mat-icon>
        </button>
    </mat-card-footer>
</mat-card>