@import '~bootstrap/scss/bootstrap.scss';
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './app/app.theme';
@import 'assets/scss/main';

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');
$typography: mat-typography-config(
  $font-family: "'Quicksand', sans-serif",
  $input: mat-typography-level(16px, 1.125, 400),
);

@include angular-material-typography($typography);

.media-dialog {
  mat-dialog-container {
    padding: 0 !important;
    overflow: hidden;
    border-radius: 0 !important;
  }
}
.iti__selected-flag {
  &:focus {
    outline: none !important;
  }
}
