<app-sidebar #sidebar name="navbar">
  <div sidebar-drawer class="sidebar-drawer mat-elevation-z1">
    <header #header>
      <app-navbar-header class="p-3"></app-navbar-header>
    </header>
    <div>
      <perfect-scrollbar class="position-relative" [config]="{ suppressScrollX: true }">
        <ng-container *ngFor="let item of navigationMenu">
          <app-navbar-item *ngIf="item.type === 'item'" [item]="item"></app-navbar-item>
          <app-navbar-collapse *ngIf="item.type === 'collapse'" [item]="item"></app-navbar-collapse>
        </ng-container>
      </perfect-scrollbar>
    </div>
  </div>
  <div sidebar-container>
    <ng-content></ng-content>
  </div>
</app-sidebar>
