<app-sidebar (minWidthExceeded)="closeSidebar()" name="navbar">
  <div sidebar-drawer class="sidebar-drawer border-right">
    <header #header>
      <app-navbar-header class="p-3"></app-navbar-header>
    </header>
    <nav>
      <ng-container *ngFor="let item of navigationMenu">
        <app-navbar-item *ngIf="$any(item.type) === 'item'" [item]="item"></app-navbar-item>
        <app-navbar-collapse *ngIf="$any(item.type) === 'collapse'" [item]="item"></app-navbar-collapse>
      </ng-container>
      <app-navbar-item (click)="logout()" class="bottom-0 position-absolute w-100" [item]="logoutNaviagtionItem">
      </app-navbar-item>
    </nav>
  </div>
  <div sidebar-container>
    <ng-content></ng-content>
  </div>
</app-sidebar>
