@import "variables";
@import "mixins";
@import "functions";

$navbar-width: map-deep-get($layout_dimensions, "navbar-width", xLarge);
$navbar-folded-width: map-deep-get($layout_dimensions, "navbar-width", folded);
$navbar-mobile-width: map-deep-get($layout_dimensions, "navbar-width", small);
$toolbar-height: map-deep-get($layout_dimensions, "toolbar-height");
:host {
  app-sidebar {
    --width: #{$navbar-width};
    &.opened {
      --width: #{$navbar-folded-width};
      ::ng-deep {
        @include media-breakpoint-up(lg) {
          .drawer-invisible {
            display: none;
          }
        }
      }
    }
    @include media-breakpoint-down(md) {
      --width: 0px;
      &.opened {
        --width: #{$navbar-mobile-width};
        .sidebar-drawer {
          margin-top: #{$toolbar-height} !important;
        }
      }
    }
  }
}
