<mat-card class="h-100 d-flex flex-column justify-content-between mat-card-elevation-z1 p-0">
    <div class="mat-elevation-z1 py-1 d-flex align-items-center pl-3 pr-1">
        <img mat-card-avatar ngxGravatar [email]="data.email" fallback="identicon">
        <div class="w-100 d-flex align-items-center justify-content-between ml-3">
            <h6 class="mb-0">{{data.username}}</h6>
            <div class="d-flex">
                <mat-icon class="footer-action-icon">add</mat-icon>
                <mat-icon (click)="closeCard()" class="footer-action-icon">close</mat-icon>
            </div>
        </div>
    </div>
    <mat-card-content class="d-flex flex-column justify-content-between h-100 mb-0 px-3 pt-3">
        <div>
            <ng-container *ngFor="let message of messages">
                <p>{{message.message}}</p>
            </ng-container>
        </div>
        <div>
            <mat-divider></mat-divider>
            <mat-form-field [appearance]="$any('none')">
                <textarea placeholder="Write a message" matInput #messageInput cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
            </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-footer class="m-0 d-flex align-items-center">
        <mat-icon class="footer-action-icon">add_photo_alternate</mat-icon>
        <mat-icon class="footer-action-icon">emoji_emotions</mat-icon>
        <mat-icon class="footer-action-icon">attach_file</mat-icon>
        <mat-icon class="footer-action-icon">photo_camera</mat-icon>
        <!-- <emoji-mart class="emoji-mart" set="emojione" (emojiSelect)="addEmoji($event)" *ngIf="showEmojiPicker"
                title="Pick your emoji…"></emoji-mart> -->
        <button mat-icon-button class="ml-auto" (click)="sendMessage(messageInput)">
            <mat-icon class="footer-action-icon">send</mat-icon>
        </button>
    </mat-card-footer>
</mat-card>
