:host {
  position: fixed;
  height: 400px;
  width: 300px;
  bottom: 0;
  textarea.mat-input-element.cdk-textarea-autosize {
    box-sizing: content-box;
  }
  img {
    width: 30px !important;
    height: 30px !important;
  }
  mat-card {
    mat-card-content {
      mat-form-field {
        ::ng-deep {
          .mat-form-field-wrapper {
            padding: 0 !important;
          }
        }
      }
      textarea {
        font-size: 14px;
      }
    }
  }
  .footer-action-icon {
    color: #afaeae;
    font-size: 20px;
    height: 20px;
    width: 20px;
    margin: 0rem 0.25rem;
    cursor: pointer;
    :hover {
      color: #8e8c8c;
    }
  }
}
