@import '~@angular/material/theming';
:host {
    perspective: 600px;
    transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform-style: preserve-3d;
    display: block;
    border-radius: 0.25em;
    @include mat-elevation(1);
    &.flip {
        transform: rotateY(180deg);
    }
    .front,
    .back {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        backface-visibility: hidden;
    }
    .front {
        z-index: 2;
    }
    .back {
        z-index: 1;
        transform: rotateY(180deg);
    }
    position: relative;
}
