@import 'functions';
@mixin navbar_item($theme) {
  app-navbar-item {
    $color: #000;
    .navbar-item {
      border-left: 1px solid transparent;
      color: $color;
      &.active {
        $color: get_color_from_theme(primary, $theme);
        background-color: #f9f9f9;
        color: $color;
        border-left: 1px solid $color;
      }
      &:hover {
        background-color: rgba(255, 255, 255, 0.08);
      }
      &__pin {
        svg {
          fill: $color !important;
        }
      }
    }
  }
}
