@import '~@angular/material/theming';
@import 'functions';
:host {
  display: block;
  .navbar-item {
    height: 50px;
    width: 55px;
    ::ng-deep {
      .mat-button-wrapper {
        width: 100%;
      }
    }
  }
  &:hover {
    .navbar-item {
      &__pin {
        display: flex;
      }
    }
  }
  .navbar-item-title {
    mat-icon {
      width: 30px;
    }
  }
  a {
    text-decoration: none !important;
  }
  &.dense {
    .navbar-item {
      height: 40px;
      width: 55px;
      font-weight: 400;
    }
  }
}
