@import "~@angular/material/theming";
@import "functions";
:host {
  display: block;
  .navbar-item {
    height: 55px;
    width: 55px;
    font-weight: 400;
    ::ng-deep {
      .mat-button-wrapper {
        width: 100%;
      }
    }
    &__pin {
      display: none;
    }
  }

  &:hover {
    .navbar-item {
      &__pin {
        display: flex;
      }
    }
  }
  .navbar-item-title {
    mat-icon {
      width: 30px;
    }
  }
  a {
    text-decoration: none !important;
  }
}
