@import 'mixins';
:host {
  background-color: #fff;
  display: block;
  height: 100%;
  $height: 60px;
  .toolbar-seperator {
    height: $height;
    width: 1px;
    background: rgba(0, 0, 0, 0.12);
  }
  .view-icon {
    min-width: $height;
    height: $height;
  }

  app-sidebar {
    --width: 25%;
    @include overflowHeight(15px);
  }
}
