<app-media-hub-header></app-media-hub-header>

<mat-divider></mat-divider>


<app-sidebar>
    <div sidebar-drawer>
        <app-media-hub-folders></app-media-hub-folders>
    </div>
    <div sidebar-container class="p-3">
        <p class="bg-dark text-white py-1 px-2 mt-3">Media</p>
        <app-masonry>
            <app-masonry-item *ngFor="let file of files; let index = index;">
                <app-media-card class="item" [file]="file" (onMarkChange)="addToMarkedFiles(index);">
                </app-media-card>
            </app-masonry-item>
        </app-masonry>
    </div>
</app-sidebar>
